mixin button-red(text)
  button.btn.button__red.align-items-center.row.no-gutters
    span.m-auto.Text-Style-3=text
mixin button-grey(text)
  button.btn.button__grey.align-items-center.row.no-gutters
    span.m-auto.Text-Style-3=text
mixin button-white(text)
  button.btn.button__white.align-items-center.row.no-gutters
    span.m-auto.Text-Style-12=text
mixin button-black(text)
  button.btn.button__black.align-items-center.row.no-gutters
    span.m-auto.Text-Style-15=text

mixin plaza-item(text1,text2,text3,text4,text5)
  .footer-plaza__item.col-md-3
    a.footer-plaza__text1.Text-Style-5(href="#!")=text1
    a.footer-plaza__text1.Text-Style-5(href="#!")=text2
    a.footer-plaza__text1.Text-Style-5(href="#!")=text3
    a.footer-plaza__text1.Text-Style-5(href="#!")=text4
    a.footer-plaza__text1.Text-Style-5(href="#!")=text5 

mixin work-item(name,img,title,text)
  div(class="item col-md-4 row no-gutters " + name)
    .item__img.bg-primary.justify-md-content-center.col-md-2.align-self-center
      img(src=img,alt="img")
    .col-md-10
      .item__title
        h5=title 
      p.item__text.Text-Style-4=text  

mixin try-item(img,title,text)
  .try-plaza__item.col-md-4.bg-secondary.row.no-gutters.align-items-center.py-2.pl-2.mb-5
    .try-plaza__img.col-2
      img(src=img,alt="img")
    .col-10.pl-3
      .try-plaza__title 
        h2=title
      .try-plaza__description.Text-Style-4=text

mixin sticky(BigLetter,content)
  .sticky-container
    .sticky
      span.Text-Style-8=BigLetter
      span.Text-Style-10=content 
mixin tile-work(text)
  .porttem-plaza__tile.Text-Style-14=text

mixin work-item(img,title,text)
      .work__item.item.col-md-4.row.no-gutters
          .item__img.col-sm-12.col-md-2.align-self-center
            img(src="assets/img/work/tie.svg",alt="img")
          .item__column.col-md-10
            .item__title
              h5.text-40-52-bold-0D0D0D=title
            .item__text.text-28-34-600-fff=text

mixin nav-item(link,text)
  li
    a(href=link + ".html")= text

    
//- -----------------------------------------------
-
  var tryitem = [
  {
  img: "assets/img/work/tie.svg",
  title: "12345",
  text: "samething"
  },
  {
  img: "assets/img/work/tie.svg",
  title: "12345",
  text: "samething"
  },
  ];